<div id="{{ grid.id }}" {{ grid.dynamicAttributes|join(' ') }}>
	<form method="GET" class="ajax-event-form" action="{{ grid.url }}">
		{% for key, value in grid.hiddenFields %}
			<input type="hidden" name="{{ key }}" value="{{ value }}" />
		{% endfor %}
		{{ grid.content }}
	</form>
</div>
{% if grid.ajax %}
<script type="text/javascript">
(function($) {
	function AjaxPane(element) {
		this.element = $(element);
	}
	String.prototype.contains = function(it) {
		return this.indexOf(it) != -1;
	};

	AjaxPane.prototype.attachEventHandlers = function() {
		$(this.element).find("a.ajax-event").bind("click", {
			pane : this
		}, function(event) {
			event.data.pane.executeEvent(this.href);
			return false;
		});
		
		$(this.element).find("select.ajax-event").bind("change", function(event) {
			$(this).submit();
		});

		$(this.element).find("form.ajax-event-form").submit({
			pane : this
		}, function(event) {

			var href = window.location.href;
			if (href.contains("?")) {
				href = href.replace(/\?([^?]*)$/i, "?" + $(this).serialize());
			} else {
				href = href + "?" + $(this).serialize();
			}
			event.data.pane.executeEvent(href);
			return false;
		});
	};

	AjaxPane.prototype.executeEvent = function(href) {
		var pane = this;
		this.element.css({
			opacity: 0.5,
		});

		$.ajax({
			url : href,
		}).done(function(data) {
			pane.replace(data);
		});
	};

	AjaxPane.prototype.replace = function(content) {
		var newContentElement = $(content).closest("#" + this.element.attr('id'));
		if (newContentElement.length > 0) {
			var newContent = newContentElement.html();
			this.element.find('form').replaceWith(newContent);
			this.element.animate({
				opacity : 1,
				duration: 100, 
			});

			this.attachEventHandlers();
		} else {
			window.location.reload();
		}
	};

	$(document).ready(function() {
		$("#{{ grid.id }}").each(function() {
			var pane = new AjaxPane(this);
			pane.attachEventHandlers();
		});
	});
})(jQuery);
</script>
{% endif %}