<ul {{ pager.dynamicAttributes|join(' ') }}>
	{% if pager.startendbutton %}
		<li class="pager-start {% if pager.firstPage %}active disabled{% endif %}"><a class="ajax-event" href="{{ pager.firstUrl }}">&laquo;</a></li>
	{% endif %}
	{% if pager.previousnextbutton %}
		<li class="pager-previous {% if pager.firstPage %}active disabled{% endif %}"><a class="ajax-event" href="{{ pager.previousUrl }}">&lsaquo;</a></li>
	{% endif %}
	
	{% for page in pager.pages %}
		<li {% if page.current %}class="active"{% endif %}><a class="ajax-event" href="{{ page.url }}">{{ page.label }}</a></li>
	{% endfor %}
	
	{% if pager.previousnextbutton %}
		<li class="pager-next {% if pager.lastPage %}active disabled{% endif %}"><a class="ajax-event" href="{{ pager.nextUrl }}">&rsaquo;</a></li>
	{% endif %}
	{% if pager.startendbutton %}
		<li class="pager-end {% if pager.lastPage %}active disabled{% endif %}"><a class="ajax-event" href="{{ pager.endUrl }}">&raquo;</a></li>
	{% endif %}
</ul>